.mobile{
    height: 100vh;
    background-color: blue;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 70%;
    padding: 2rem;
}

.mobile Link {
    padding: 10%;
}
.mobile Link:hover{
    background-color: #006078;
}